ucf101_stride4x4x4
__pycache__
*.mp4
.ipynb_checkpoints
*.pth
UCF-101/
results/
build/
opensora.egg-info/
wandb/
.idea
*.ipynb
*.jpg
*.mp3
*.safetensors
*.mp4
*.png
*.gif
*.pth
*.pt
cache_dir/
wandb/
test*
sample_video*/
512*
720*
1024*
*debug*
private*
.deepspeed_env
256*
sample_image*/
taming*
*test*
sft*
flash*
65x256*
alpha_vae
*node*
cache/
Open-Sora-Plan_models/
sample_image*cfg*
*tmp*
*pymp*
check.py
bucket.py
whileinf.py
validation_dir/
runs/
samples/
inpaint*/
bs32x8x1*
*tmp*
*pymp*
check.py
bucket.py
whileinf.py
bs4x8x16_*
*.zip
*validation/
bs1x8x32*
bs16x8x1*
bs8x8x2*
bs8x8x1*
bs8x8x8*
bs1x8x16*
checklora.py
dim4todim8.py
*vae8_any*320x320*
samples/
runs/
*validation/
training_log*txt
filter_motion*
json2*.py
motionfun*
res_dist*
filter_json_aes_m*
stage2*.json
kernel_meta
ge_check_op.json
WFVAE_DISTILL_FORMAL
read_video*
bs32x8x2*
filter_json_aes_m*
json2json*
makenpu_json*
*make_small_json*
*schedule_noise*
test*
gpu_profiling*
gyy_dense*
torchelasti*
*VEnhancer*
*spdemo*
i2v.txt
*run_i2v*
*curope*
any*
*nomotion*
log*
*svg
*k8s*
*rf*
*lzj*
final*
opensora/train/*debug.py
mmdit*
vpred*